<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML Meta Tags -->
  <title>Stargazers</title></title>
  <meta name="description" content="Stargazers - Lets learn, create, and share the epic things!">
    <meta name="keywords" content="Hey Emma, AI chat app, chatbot, video call, voice chat, natural language processing, machine learning">
	<meta name="author" content="Jatin">
  <meta name="theme-color" content="#00000">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Stargazers">
  <meta itemprop="description" content="Stargazers - Lets learn, create, and share the epic things!">
  <meta itemprop="image" content="https://media.discordapp.net/attachments/890149366499786762/1110497559690096670/Picsart_23-05-23_14-32-24-166.jpg">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://emma.its.giving/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Stargazers">
  <meta property="og:description" content="Stargazers - Lets learn, create, and share the epic things!">
  <meta property="og:image" content="https://media.discordapp.net/attachments/890149366499786762/1110497559690096670/Picsart_23-05-23_14-32-24-166.jpg">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Stargazers">
  <meta name="twitter:description" content="Stargazers - Lets learn, create, and share the epic things!">
  <meta name="twitter:image" content="https://media.discordapp.net/attachments/890149366499786762/1110497559945953320/Picsart_23-05-23_14-13-36-036.jpg">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/890149366499786762/1110497559945953320/Picsart_23-05-23_14-13-36-036.jpg" type="image/x-icon">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://linkly.bio/themes/altum/assets/css/bootstrap.min.css?v=3010" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- menifest.json file -->
    <link rel="manifest" href="/manifest.json"/>
    <!-- apple icon -->
    <link rel="apple-touch-icon" href="https://media.discordapp.net/attachments/890149366499786762/1110497559945953320/Picsart_23-05-23_14-13-36-036.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   
  </head>
  <body>
    <div class="container">
      <div class="header">
        
      <img class="logo" src="https://media.discordapp.net/attachments/890149366499786762/1110493514543923252/Picsart_23-05-23_14-17-14-689.png">
      </div>
      <div class="card">
        
        <h2>Getting Started</h2>
        <form action="/dchsuejbehhshjdbbshhsbsksihenjehehshbebehshebhehsjenshjsjskaksndnhsiskaknsnsisjjsjsjsksibsnshjsjsbshsusiksnhshsiskjsnbshsiaoaksnsjjsjakkskksnjsjjsoskksknshshsiiskskksjenendhdhuosowjebdhhaokskejdhhsisiakskejwkwopwisjdbbehsiskakdnjdjsiwjejdjdbhaiososoejndhsuaoosjdjdhdhiwoaodhdbjsiaosodjjdndksoaidjdjdjsoosodjdhskaosodidjdjjdjsiosidfhhdjsjsksodidifjjdjsjwksdjjffjjajhdhdhjsksisisjdjdjfjfhdjsosoaodoj" method="get">
          <button type="submit" class="google-btn">
            
            <span>Join community!</span>&nbsp<i class="fa fa-group" style="font-size:22px"></i>
          </button>
        </form>
          </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
